body    {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    padding: 16px;
}

section {
    background: #cdc1f8;
    padding: 16px;
}
footer {
    background: #f8c1c1;
    padding: 16px;
}
.czerwony {
    color: red;
}

#szkolenie {
    background: green;
}


a {
    color: yellow;
}

section a {
    color: violet;
}

.my-article p {
    color: orange;
}

.navigation {
    background: #f8c1c1;
    padding: 16px;

}

.navigation li {
    display: inline-block;
    padding: 16px;
}

.navigation li a {
    color: #292b2c;
    text-decoration: none;
}

.navigation li a:hover {
    color: #f8c1c1;
    text-decoration: none;
}

.navigation li.active a {
    color: #f8c1c1;
    text-decoration: none;
}

.navigation li.active a:hover {
    color: #292b2c;
    text-decoration: none;
}

.navigation__link {
    color: #292b2c;
    text-decoration: none;
}